<%- model_class = User -%>
<%- mo_class= Property -%>
<div class="page-header">
  <h1>Properties of <%=@user.username%></h1>
</div>
<% if @props.count>0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= mo_class.human_attribute_name(:id) %></th>
        <th><%= mo_class.human_attribute_name(:location) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @props.each do |prop| %>
        <tr>
          <td><%= prop.id %></td>
          <td><%= prop.location %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_property_path(prop), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        property_path(prop),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
<%else%>
<p class="text-center"><strong>You have no property listed</strong></p>
<%end%>
<p class="text-center"> <strong>Add a new Property 
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_property_path,
            :class => 'btn btn-mini btn-primary' %>
</strong></p>